@charset "utf-8";
@import url(commons/header.css);
@import url(commons/footer.css);

#wrap{
    width: 100%;
    height: auto;
}

/*container 부분*/
.container{
    width: 100%;
    height: auto;
    padding-top: 44px;
}

.container .inner-container{
    width: 100%;
    max-width: 2400px;
    height: auto;
    margin: 0 auto;
}

/*container : section1*/
.container .inner-container .section{
    width: 100%;
    height: auto;
}

.container .inner-container .section.sec1{
    width: 100%;
    height: auto;
/*    background: #ccc;*/
}

.container .inner-container .section.sec1 .secCon.sec1Txt{
    width: 100%;
    max-width: 980px;
    height: auto;
    margin: 0 auto;
    font-size: 11px;
    color: #333;
    text-align: center;
    line-height: 18px;
    padding-bottom: 20px;
}

.container .inner-container .section.sec1 .secCon.sec1Txt >h1{
    font-size: 11px;
    color: #333;
    line-height: 44px;
    font-weight: bold;
}

.container .inner-container .section span.pointTxt{
    line-height: 40px;
    font-weight: 300;
    font-size: 16px;
    font-weight: 600;
    color: #2997d9;
    padding: 0 10px;
}

.container .inner-container .section span.pointTxt:hover{
    text-decoration: underline;
}

/*container : section2*/
.container .inner-container .section.sec2{
    width: 100%;
    height: 700px;
    background: url(../img/contents/section02/section2_bg.jpg) no-repeat 50%;
    background-size: cover;
}

.container .inner-container .section.sec2 .secCon.sec2Txt{
    width: 50%;
    text-align: center;
/*    border: 1px solid #fff;*/
    margin: 0 auto;
    color: #fff; 
    padding-top: 60px;
    font-size: 25px;
    cursor: pointer;
}

.container .inner-container .section.sec2 .secCon.sec2Txt >h5{
    line-height: 30px;
    font-weight: 500;
    font-size: 25px;
}

.container .inner-container .section.sec2 .secCon.sec2Txt >h6{
    line-height: 40px;
    font-weight: 300;
    font-size: 14px;
    color: #868678;
}

/*container : section3*/
.container .inner-container .section.sec3{
    width: 100%;
    height: 700px;
    background-image: url(../img/contents/section03/section3_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
}

.container .inner-container .section.sec3 .secCon.sec3Txt{
    width: 50%;
    text-align: center;
/*    border: 1px solid #000;*/
    margin: 0 auto;
    color: #000; 
    padding-top: 60px;
    font-size: 25px;
    cursor: pointer;
}

.container .inner-container .section.sec3 .secCon.sec3Txt >h5{
    line-height: 30px;
    font-weight: 500;
    font-size: 25px;
}

.container .inner-container .section.sec3 .secCon.sec3Txt >h6{
    line-height: 40px;
    font-weight: 300;
    font-size: 14px;
    color: #868678;
}

/*container : section4*/
.container .inner-container .section.sec4{
    width: 100%;
    height: 700px;
    background-image: url(../img/contents/section04/section4_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    cursor: pointer;
}

.container .inner-container .section.sec4 .secCon.sec4Txt{
    width: 50%;
    text-align: center;
/*    border: 1px solid #000;*/
    margin: 0 auto;
    color: #000; 
    padding-top: 60px;
    font-size: 25px;
}

.container .inner-container .section.sec4 .secCon.sec4Txt >h5{
    line-height: 30px;
    font-weight: 500;
    font-size: 25px;
}

/*container : section5*/
.container .inner-container .section.sec5 span.pointTxt{
    line-height: 40px;
    font-weight: 300;
    font-size: 14px;
    font-weight: 600;
    color: #2997d9;
    padding: 0 10px;
    cursor: pointer;
}


.container .inner-container .section.sec5{
    width: 100%;
    height: auto;
}

.container .inner-container .section.sec5::after{
    content: "";
    display: block;
    clear: both;
}

.container .inner-container .section.sec5 >ul >li{
    width: 49.4%;
    height: 600px;
    float: left;
    background-color: #ff0;
    box-sizing: border-box;
    display: inline;
    margin: 0.3%;
}

/*container : section5 : 1번*/
.container .inner-container .section.sec5 >ul >li:nth-child(1){
    background: url(../img/contents/section05/section5_bg01.jpg) no-repeat 50%;
    background-size: cover;
}

.container .inner-container .section.sec5 .sec5-01{
    margin: 0 auto;
    text-align: center;
}

.container .inner-container .section.sec5 .sec5-01 >h1{
    color: #fff; 
    padding-top: 60px;
    font-size: 40px;
}

.container .inner-container .section.sec5 .sec5-01  >h5{
    line-height: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.container .inner-container .section.sec5 .sec5-01 >h6{
    line-height: 40px;
    font-weight: 300;
    font-size: 14px;
    color: #868678;
}

/*container : section5 : 2번*/
.container .inner-container .section.sec5 >ul >li:nth-child(2){
    background: url(../img/contents/section05/section5_bg02.jpg) no-repeat 50%;
    background-size: cover;
}

.container .inner-container .section.sec5 .sec5-02{
    margin: 0 auto;
    text-align: center;
}

.container .inner-container .section.sec5 .sec5-02 >h4{
    color: #fff; 
    padding-top: 60px;
    font-size: 40px;
}

.container .inner-container .section.sec5 .sec5-02 >h4 img{
    display: inline-block;
    width: 35px;
}

.container .inner-container .section.sec5 .sec5-02 >h6{
    line-height: 40px;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}

.container .inner-container .section.sec5 .sec5-02  >h5{
    line-height: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

/*container : section5 : 3번*/
.container .inner-container .section.sec5 >ul >li:nth-child(3){
    background: url(../img/contents/section05/section5_bg03.jpg) no-repeat 50%;
    background-size: cover;
}

.container .inner-container .section.sec5 .sec5-03{
    margin: 0 auto;
    text-align: center;
}

.container .inner-container .section.sec5 .sec5-03 >h4{
    color: #000; 
    padding-top: 60px;
    font-size: 40px;
}

.container .inner-container .section.sec5 .sec5-03 >h4 img{
    display: inline-block;
    width: 35px;
}

.container .inner-container .section.sec5 .sec5-03  >h5{
    line-height: 20px;
    font-size: 16px;
    color: #cd0c18;
    letter-spacing: 3px;
}

.container .inner-container .section.sec5 .sec5-03 >h6{
    line-height: 40px;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

/*container : section5 : 4번*/
.container .inner-container .section.sec5 >ul >li:nth-child(4){
    background: url(../img/contents/section05/section5_bg04.jpg) no-repeat 50%;
    background-size: cover;
}

.container .inner-container .section.sec5 .sec5-04{
    margin: 0 auto;
    text-align: center;
}

.container .inner-container .section.sec5 .sec5-04 >h1{
    color: #fff; 
    padding-top: 60px;
    font-size: 30px;
}

.container .inner-container .section.sec5 .sec5-04 >h6{
    line-height: 25px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

/*container : section5 : 5번*/
.container .inner-container .section.sec5 >ul >li:nth-child(5){
    background: url(../img/contents/section05/section5_bg05.jpg) no-repeat 50%;
    background-size: cover;
}

.container .inner-container .section.sec5 .sec5-05{
    margin: 0 auto;
    text-align: center;
}

.container .inner-container .section.sec5 .sec5-05 >h2{
    color: #fff; 
    padding-top: 60px;
    font-size: 30px;
    font-weight: 500;
}

.container .inner-container .section.sec5 .sec5-05 >h1{
    line-height: 40px;
/*    font-weight: bold;*/
    font-size: 35px;
/*    color: #fff;*/
    background: linear-gradient(to right, #05b9ff 10%, #4e76ff 40%, #a439ff 70%);
    -webkit-background-clip: text;
    color:transparent;
    padding-top: 30px;
}

.container .inner-container .section.sec5 .sec5-05 span.pointTxt{
    line-height: 50px;
    font-weight: 300;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

/*container : section6 : 6번*/
.container .inner-container .section.sec5 >ul >li:nth-child(6){
    background: url(../img/contents/section05/section5_bg06.jpg) no-repeat 50%;
    background-size: cover;
}

.container .inner-container .section.sec5 .sec5-06{
    margin: 0 auto;
    text-align: center;
}

.container .inner-container .section.sec5 .sec5-06 >h4{
    color: #000; 
    padding-top: 60px;
    font-size: 40px;
}

.container .inner-container .section.sec5 .sec5-06 >h6{
    line-height: 25px;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

@media only screen and (max-width:767px) {
    .header .inner-header{
        position: relative;
    }
    .header .inner-header .menu{
        display: block;
    }
    
    .header .inner-header h1.logo{
        position: absolute;
        margin-left: 45%;
    }
    .header .inner-header span.cart{
        float: right;
    }
    
    .header .inner-header .gnb >ul >li{
        display: none;
    }
    
    .container .inner-container .section{
        -webkit-transition:all 0.5s; 
        -moz-transition:all 0.5s;
        -ms-transition:all 0.5s;
        -o-transition:all 0.5s;
    }

    .container .inner-container .section span.pointTxt{
        font-size: 12px;
    }
    
    .container .inner-container .section.sec2{
        background: url(../img/contents/section02/section2-1_bg.jpg) no-repeat 50%;
        background-size: cover;
    }
    
    .container .inner-container .section.sec2 .secCon.sec2Txt{
        font-size: 18px;
    }

    .container .inner-container .section.sec2 .secCon.sec2Txt >h5{
        font-size: 16px;
    }

    .container .inner-container .section.sec2 .secCon.sec2Txt >h6{
        line-height: 40px;
        font-weight: 300;
        font-size: 12px;
        color: #868678;
    } 
    
    .container .inner-container .section.sec3{
        background: url(../img/contents/section03/section3-1_bg.jpg) no-repeat 50%;
        background-size: cover;
    }
    
    .container .inner-container .section.sec3 .secCon.sec3Txt{
        font-size: 18px;
    }

    .container .inner-container .section.sec3 .secCon.sec3Txt >h5{
        font-size: 15px;
    }

    .container .inner-container .section.sec3 .secCon.sec3Txt >h6{
        font-size: 12px;
    }
 
    .container .inner-container .section.sec4{
        background: url(../img/contents/section04/section4-1_bg.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .container .inner-container .section.sec4 .secCon.sec4Txt{
        width: 60%;
        font-size: 18px;
    }

    .container .inner-container .section.sec4 .secCon.sec4Txt >h5{
        font-size: 13px;
    }

    .container .inner-container .section.sec5 >ul >li{
        width: 100%;
        margin: 5px 0;
    }

    .container .inner-container .section.sec5 .sec5-01  >h5{
        font-size: 16px;
    }

    .container .inner-container .section.sec5 .sec5-02  >h5{
        font-size: 14px;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .container .inner-container .section.sec5 .sec5-04 >h6{
        font-size: 16px;
        padding: 10px;
        box-sizing: border-box;
    }

}
