@charset "utf-8";

/*!!footer 부분!!*/
.footer{
    width: 100%;
    height: auto;
    background: #f5f5f7;
}

.footer .inner-fcon{
    width: 100%;
    max-width: 980px;
    height: auto;
    margin: 0 auto;
}

.footer .inner-fcon .fTop{
    font-size: 10.5px;
    color: #8d8f92;
    text-align: left;
    line-height: 15px;
    padding: 30px 0;
    border-bottom: 1px solid #d2d2d7;
    font-weight: 500;
}

.footer .inner-fcon .fMiddle{
    width: 100%;
    max-width: 980px;
    height: auto;
    margin-bottom: 40px;
}

.footer .inner-fcon .fMiddle::after{
    content: "";
    display: block;
    clear: both;
}

/*!!footer : fMiddle : menu01!!*/
.footer .inner-fcon .fMiddle .fMenu01{
    width: 20%;
    float: left;
    margin-top: 20px;
}

.footer .inner-fcon .fMiddle .fMenu01 >ul >li h3{
    color: #000;
    font-size: 11px;
}

.footer .inner-fcon .fMiddle .fMenu01 >ul >li{
    font-size: 11px;
    line-height: 25px;
    color: #515159;
}

/*!!footer : fMiddle : menu02!!*/
.footer .inner-fcon .fMiddle .fMenu02{
    width: 20%;
    float: left;
    margin-top: 20px;
}

.footer .inner-fcon .fMiddle .fMenu02 >ul >li h3{
    color: #000;
    font-size: 11px;
}

.footer .inner-fcon .fMiddle .fMenu02 >ul >li{
    font-size: 11px;
    line-height: 25px;
    color: #515159;
}

/*!!footer : fMiddle : menu03!!*/
.footer .inner-fcon .fMiddle .fMenu03{
    width: 20%;
    float: left;
    margin-top: 20px;
}

.footer .inner-fcon .fMiddle .fMenu03 >ul >li h3{
    color: #000;
    font-size: 11px;
}

.footer .inner-fcon .fMiddle .fMenu03 >ul >li{
    font-size: 11px;
    line-height: 25px;
    color: #515159;
}

/*!!footer : fMiddle : menu04!!*/
.footer .inner-fcon .fMiddle .fMenu04{
    width: 20%;
    float: left;
    margin-top: 20px;
}

.footer .inner-fcon .fMiddle .fMenu04 >ul >li h3{
    color: #000;
    font-size: 11px;
}

.footer .inner-fcon .fMiddle .fMenu04 >ul >li{
    font-size: 11px;
    line-height: 25px;
    color: #515159;
}

/*!!footer : fMiddle : menu05!!*/
.footer .inner-fcon .fMiddle .fMenu05{
    width: 20%;
    float: left;
    margin-top: 20px;
}

.footer .inner-fcon .fMiddle .fMenu05 >ul >li h3{
    color: #000;
    font-size: 11px;
}

.footer .inner-fcon .fMiddle .fMenu05 >ul >li{
    font-size: 11px;
    line-height: 25px;
    color: #515159;
}

/*!!footer : fBottom!!*/
.footer .inner-fcon .fBottom{
    width: 100%;
    max-width: 980px;
    height: auto;
    padding-bottom: 20px;
}

.footer .inner-fcon .fBottom::after{
    content: "";
    display: block;
    clear: both;
}

.footer .inner-fcon .fBottom .fBot01{
    width: 100%;
    height: auto;
    color: #a6a8aa;
    font-size: 11px;
    line-height: 30px;
    border-bottom: 1px solid #d2d2d7;
}

.footer .inner-fcon .fBottom .fBot01 span{
    color: #4f7cd8;
}

.footer .inner-fcon .fBottom .fBot02-top{
    width: 100%;
    max-width: 980px;
    height: auto;
    line-height: 30px;
}

.footer .inner-fcon .fBottom .fBot02-top::after{
    content: "";
    display: block;
    clear: both;
}
.footer .inner-fcon .fBottom .fBot02-top .copy{
    width: 22%;
    color: #86868b;
    float: left;
    font-size: 10px;
/*    margin-right: 20px;*/
}

.footer .inner-fcon .fBottom .fBot02-top .list{
    width: 68%;
    float: left;
    font-size: 11px;
    padding-left: 20px;
    box-sizing: border-box;
}

.footer .inner-fcon .fBottom .fBot02-top .list >ul >li{
    float: left;
    font-size: 11px;
    padding: 0 3px;
    color: #d2d2d7;
}

.footer .inner-fcon .fBottom .fBot02-top .list a{
    color: #515154;
    font-weight: 600;
    font-size: 11px;
    padding: 0 10px;
}

.footer .inner-fcon .fBottom .fBot02-top .country{
    width: 10%;
    height: auto;
    float: right;
/*
    border: 1px solid;
    box-sizing: border-box;
*/
}

.footer .inner-fcon .fBottom .fBot02-top .country span{
    font-size: 11px;
    color: #515154;
    text-align: center;
    float: left;
    font-weight: 600;
}
.footer .inner-fcon .fBottom .fBot02-top .country span img{
    width: 20px;
    display: block;
    padding-top: 5px;
    margin-right: 10px;
    box-sizing: border-box;
    float: left;
}

.footer .inner-fcon .fBottom .fBot02-bottom{
    width: 100%;
    height: auto;
}

.footer .inner-fcon .fBottom .fBot02-bottom >ul >li{
    float: left;
    font-size: 10px;
    padding-right: 2px;
    color: #d2d2d7;
    line-height: 20px;
}

.footer .inner-fcon .fBottom .fBot02-bottom a{
    color: #86868b;
    font-size: 10.5px;
}
